* {
    margin: 0;
    padding: 0;
}


html {  
  overflow: hidden;
  height: 100vh;

  box-sizing: border-box;
}

body {
    width: 100vw;
    background: #0D0D12;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-header {
    display: flex;
    background-color:#09090E;
    height: 60px;
    width: 1700px;
    box-shadow: 5px 2px 2px #379D4D;
}

.shield {
    height: 35px;
    margin: 4px;
    padding: 3px;
    background: #0DD43D;
    border-radius: 50%;
}


.text-header-center {
    font-size: 1.5em;
    color: #48A760;
    margin-top: 18px;

}


.text-left {
    color: #48A760;
    background: #052215;
    border-radius: 5px;
    height: 20px;
    margin-top: 20px;
    padding: 2px;
   
}


.link-header {
    font-size: 13px;
    text-decoration: none;
    color: #48A760;
}


.nav-div {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}



.first-section {
    background: #16121E;
    height: 300px;
    width: 1650px;
    margin-top:40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

}








/* .radar, .sweep { position: absolute; } */

.radar {
    margin-top: 50px;
    margin-left: 40px;
  width: 200px; height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #379D4D,
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: 
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px; left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, .3);
  width: 108px; height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
  animation: sweep 5s infinite linear;
}
@keyframes sweep { to { transform: rotate(360deg); } }


.text-radar {
    margin-right: 700px;
    margin-top: 60px;
}

.numbers {
    font-size: 40px;
    margin-bottom: 4px;
    color: #1DCA50;
}

.text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #5F5D6C;
    
}