* {
    margin: 0;
    padding: 0;
}


html {  
  overflow: hidden;
  height: 100vh;

  box-sizing: border-box;
}

body {
    width: 100vw;
    background: #0D0D12;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-header {
    display: flex;
    background-color:#09090E;
    height: 60px;
    width: 1700px;
    box-shadow: 5px 2px 2px #379D4D;
}

.shield {
    height: 35px;
    margin: 4px;
    padding: 3px;
    background: #0DD43D;
    border-radius: 50%;
}


.text-header-center {
    font-size: 1.5em;
    color: #48A760;
    margin-top: 18px;

}


.text-left {
    color: #48A760;
    background: #052215;
    border-radius: 5px;
    height: 20px;
    /* text-align: center; */
    margin-top: 20px;
    padding: 2px;
   
}


.link-header {
    font-size: 13px;
    text-decoration: none;
    color: #48A760;
}


.nav-div {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}








.radar, .sweep { position: absolute; }

.radar {
  overflow: hidden; 
  top: 50%; left: 50%;
  margin: -117px;
  width: 248px; height: 248px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #379D4D,
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: 
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px; left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, .3);
  width: 108px; height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
  animation: sweep 5s infinite linear;
}
@keyframes sweep { to { transform: rotate(360deg); } }